<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <connectionStrings>
        <remove name="LocalSqlServer" />
    </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>